<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to License Generator</h1>
                <h2>Automate license generation from PayPal</h2>
            </hgroup>
            <p>
                View the web api to understand how license generation works.
            </p>
            <p>
                @Html.ActionLink("Check System Settings", "Index", "TestSystem", new { area = "" }, null)
            </p>
        </div>
    </section>
</div>
