@model LicenseGeneratorWebService.Controllers.SystemResults
@{
    ViewBag.Title = "System Settings";
}

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>System Settings</h1>
            </hgroup>

            <h3>@Model.SettingsFileLocation</h3>
            <h3>@Model.Settings.CryptoLicenseSettings.LicenseFileLocation</h3>
            <h3>@Model.Settings.CryptoLicenseSettings.LicenseCode</h3>
        </div>
    </section>
</div>

